<div class="users-index-wrapper">
<h1 class="header-text">Here is list of users and their corresponding number of posts</h1>

<ul class="users-container">
  <% @users.each do |user| %>
    <li class="author-info user-link-container">
      <img class="post-box" src ="/box-post.png" alt="Post logo">
      <div class="user-link-wrapper">
        <p class="username-link"> <%= link_to user.name, user_path(user) %> </p>
        <p class="posts-counter"> Number of posts: <%= user.posts_counter %></p>
      </div>
    </li>
  <% end %>
</ul>

</div>
