<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field login-inp username-inp">
  <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Username"%>
</div>

  <div class="field login-inp password-inp">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>


  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>


